<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solicitud de Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>

<body class="bg-light">
    <p>&nbsp;</p>
    <div class="container md bg-white ">
        <div class="text-center  p-0"><img style="width: 20%;" src="{{logoTesoreria}}" />
            <h5 class="text-center mb-2">GOBIERNO DEL ESTADO DE NUEVO LE&Oacute;N</h5>
            <h5 class="text-center mb-2">SECRETAR&Iacute;A DE FINANZAS Y TESORER&Iacute;A GENERAL DEL ESTADO</h5>
        </div>
        <div class="row text-center">
            <div class=" col  bg-white text-center  ">
                <h5 class="text-center p-1">Solicitud de usuarios</h5>
            </div>
        </div>
        <div class="row text-center">
            <div>
                <h6 class="text-md-start bg-dark text-center text-white mb-4 p-1">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Datos Generales&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp;</h6>
            </div>
        </div>
        <!-- TABLA -->
        <div>
            <table class="table-sm m-0 p-1">
                <tbody class="m-0 p-0 ">
                    <tr>
                        <th scope="row">Fecha:</th>
                        <td>{{Fecha}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tipo de movimiento:</th>
                        <td>{{TipoDeMovimiento}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nombre:</th>
                        <td colspan="2">{{Nombre}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Apellido paterno:</th>
                        <td colspan="2">{{ApellidoPaterno}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Apellido materno:</th>
                        <td colspan="2">{{ApellidoMaterno}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Puesto:</th>
                        <td colspan="2">{{Puesto}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Estado:</th>
                        <td colspan="2">{{AccesoApp}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nombre de usuario:</th>
                        <td colspan="2">{{NombreUsuario}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Correo:</th>
                        <td colspan="2">{{Correo}}</td>
                    </tr>
                    <tr>
                        <th scope="row">C.U.R.P.:</th>
                        <td colspan="2">{{CURP}}</td>
                    </tr>
                    <tr>
                        <th scope="row">R.F.C.:</th>
                        <td colspan="2">{{RFC}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Telefono:</th>
                        <td colspan="2">{{Telefono}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Extensi&oacute;n:</th>
                        <td colspan="2">{{Extension}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Celular:</th>
                        <td colspan="2">{{Celular}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tipo de usuario:</th>
                        <td colspan="2">{{TpoUsuario}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Plataforma solicitada:</th>
                        <td colspan="2">{{AccesoApp}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Estado:</th>
                        <td colspan="2">{{Estatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h6 class="text-md-start bg-dark text-center text-white mb-4 p-1">Notas</h6>
            <p class="text-md-start pb-4 mb-5 ">&nbsp;</p>
        </div>
        <div>
            <h6 class="text-md-start bg-dark text-center text-white mb-4 p-1">Firmas</h6>
            <p class="text-md-start   pb-4">&nbsp;</p>
        </div>
    </div>

</body>

</html>